h1 {
    color: brown;
    font-size: 50px

}

image {
    text-align: left;
}

body { 
    background-color: darksalmon;
    color: black;

}

p {
    text-align: right;
}

p .serif {
    font-family: 'Times New Roman', Times, serif;
}

h4 {
    text-align: right;
}
