h1 {
    color: brown;
    font-size: 50px
  
    

}

h1 {outline-color: red;}
h1.double {outline-style: double;}

image {
    text-align: left;
}

body { 
    background-color: darksalmon;
    color: black;

}

p {
    text-align: right;
}

p .serif {
    font-family: 'Times New Roman', Times, serif;
}
p {outline-color: red;}
p.solid {outline-style: solid;}
h4 {
    text-align: right;
}
div {
    border: 1px solid black;
    width: 50%;
    float: right;

  }